@page "/Customers/Create"
@using Blazored.Toast.Services;
@inject HttpClient http
@inject IToastService toastService

<div class="row" style="background-color:cadetblue">

    <div class="col-8 m-auto p-5" >
        <EditForm Model="@customer" OnValidSubmit="SaveCustomer">
            <h3 class="text-center p-3 shadow text-white">Create A New Customer</h3>

            <DataAnnotationsValidator />
            <ValidationSummary class="shadow p-4 text-danger bg-white"/>

            <div class="col-12 m-auto p-4 shadow rounded">
                <div class="row mb-1">
                    <div class="col-12">
                        <b class="col-form-label" for="@customer.CustomerName">Customer name</b>
                        <InputText @bind-Value="customer.CustomerName" class="form-control" />
                    </div>
                    <div class="col">
                        <ValidationMessage For="@(()=>customer.CustomerName)" class="text-white" />
                    </div>
                </div>

                <div class="row mb-1">

                    <div class="col-12">
                        <b class="col-form-label" for="@customer.Address">Customer Address</b>
                        <InputTextArea @bind-Value="customer.Address" class="form-control" />
                    </div>
                    <div>
                        <ValidationMessage For="@(()=>customer.Address)" class="text-white" />
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <b class="col-form-label" for="@customer.Email">Customer Email</b>
                        <InputText @bind-Value="customer.Email" class="form-control" />
                    </div>
                    <div>
                        <ValidationMessage For="@(()=>customer.Email)" class="text-white" />
                    </div>
                </div>

                <div class="row mb-3">

                    <div class="col-4">
                        <button type="submit" class="btn btn-primary shadow-lg">Create Customer</button>
                    </div>

                </div>
            </div>
        </EditForm>

        <div class="col-12 mt-3">
            <a href="/Customers/List" class="btn btn-link">Go to list</a>
        </div>

    </div>


</div>

@code {
    private Customer customer = new();
    private async Task SaveCustomer()
    {
        var respose = await http.PostAsJsonAsync("api/Customers", customer);
        if (respose.IsSuccessStatusCode)
        {
            //toastService.ShowSuccess("Data saved successsfully", "Success");
            customer = new();
        }
    }
}
